Redirect 301 /app https://api.dfx.swiss/app

ErrorDocument 404 /404.html
DirectoryIndex index.html index.htm

# Enable rewrite engine and route requests to framework
RewriteEngine On
RewriteBase /
DirectorySlash Off
RewriteRule ^(.*)\/(\?.*)?$ $1$2 [R=301,L]
# Some servers require you to specify the RewriteBase directive
# In such cases, it should be the path (relative to the document root)
# containing this .htaccess file
#
# RewriteBase /

# RewriteRule ^(app|tmp)\/|\.ini$ - [R=404]
