Redirect 301 /app https://api.dfx.swiss/app

ErrorDocument 404 /404.html
DirectoryIndex index.html index.htm

# Enable rewrite engine and route requests to framework
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [NE,R=301,L]
